body {
  margin: 0;
  background: linear-gradient(hsl(343 90% 85%), hsl(320 45% 95%));
}

.page {
  margin: clamp(6rem, 8vw, 10rem) 0;
  padding: 1rem;
  min-height: 80vh;
}

.gameclub,
h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #532d53;
  text-transform: uppercase;
}
