body {
  margin: 0;
  background: linear-gradient(hsl(343 90% 85%), hsl(320 45% 95%));
  overflow-x: hidden;
}

.page {
  margin: clamp(6rem, 8vw, 10rem) 0;
  padding: 1rem;
  min-height: 80vh;
}

.gameclub,
h1 {
  font-family: "League Spartan", sans-serif;
  font-size: 5rem;
  text-align: center;
  color: #532d53;
  text-transform: uppercase;

  animation: h1 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes h1 {
  0% {
    transform: translateZ(-700px) translateY(50px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
