.header-footer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: fit-content;
  backdrop-filter: blur(2rem);
  background-color: hsla(343, 61%, 52%, 0.8);
  position: fixed;
  top: 0;
  width: 100%;

  .cgd-logo {
    width: 36px;
    height: 36px;
    padding-left: 10px;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      position: relative;
      .nav-item {
        color: white;
        font-family: "Corbert", sans-serif;
        font-size: 18px;
        font-weight: 300;
      }

      .svg-icon {
        aspect-ratio: 1;
        width: 28px;
        filter: invert(72%) sepia(48%) saturate(2813%) hue-rotate(298deg)
          brightness(95%) contrast(100%);
      }
    }

    .nav::before {
      cursor: pointer;
      content: "";
      background: #fbe9f5;
      position: absolute;
      bottom: 10px;
      width: 102%;
      height: 2px;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }

    .nav:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  .socials-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 1rem;

    .menu-svg {
      aspect-ratio: 1;
      width: 24px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  backdrop-filter: blur(2rem);
  background-color: hsla(343, 61%, 52%, 0.8);
  padding: 1rem 0;
  padding-inline: clamp(2rem, 40vw, 10rem);

  .info-wrapper-footer,
  .contact-wrapper-footer,
  .social-wrapper-footer {
    margin: 1rem;
    box-sizing: border-box;
  }

  .info,
  .contact,
  .social {
    color: hsl(320 70% 95%);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 700;
  }

  .social-wrapper-footer {
    display: flex;
    flex-direction: column;
  }

  .address,
  .email,
  .ig,
  .fb,
  .itch,
  .linked {
    color: #532d53;
    font-family: "Corbert", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
  }
}
