.header-footer {
  display: flex;
  flex-direction: column;
}

.cgd-logo {
  transition: transform 0.2s ease-in-out;
}

.cgd-logo:hover {
  transform: scale(1.1);
}

.cgd-logo:active {
  transform: scale(0.9);
}

.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  backdrop-filter: blur(2rem);
  background-color: hsla(343, 61%, 52%, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  .page-links {
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;

    .nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      position: relative;
      padding: 7px;
      border-radius: 7px;
      transition: background-color 0.2s ease-in-out;

      .nav-item {
        color: #fbe9f5;
        font-family: "Corbert", sans-serif;
        font-size: 18px;
        font-weight: 300;
      }

      .svg-icon {
        aspect-ratio: 1;
        width: 28px;
        filter: invert(19%) sepia(11%) saturate(2704%) hue-rotate(251deg)
          brightness(92%) contrast(88%);
      }
    }

    .nav:hover {
      background-color: hsla(343, 73%, 68%, 0.8);
    }

    .nav:active {
      transition: backgroun-color 0.05s ease-out;
      background-color: hsla(343, 62%, 51%, 0.8);
    }
  }
}
.socials-menu {
  gap: 1rem;
  padding: 0 1rem;

  .menu-svg {
    aspect-ratio: 1;
    width: 24px;
    transition: transform 0.1s ease-in-out;
  }

  .menu-svg:hover {
    transform: scale(1.1);
  }
}

.hamburger {
  padding: 7px;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out;
  color: #fbe9f5;
}

.hamburger:hover {
  background-color: hsla(343, 73%, 68%, 0.8);
}

.hamburger:active {
  background-color: hsla(343, 62%, 51%, 0.8);
}
