.name {
  font-family: "League Spartan", sans-serif;
  color: #532d53;
}

.position {
  font-family: "Corbert", sans-serif;
  font-weight: bold;
  color: #532d53;
}

.profile-img {
  aspect-ratio: 10/16;
}

.staff-section {
  animation: staff-section 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.22s both;
}

@keyframes staff-section {
  0% {
    transform: translateZ(-700px) translateY(50px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
