.resources-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  gap: 5rem;
}

.resource-subhead {
  /* all: unset; */

  font-family: "League Spartan", sans-serif;
  /* font-size: 5rem; */
  /* text-align: center; */
  color: #532d53;
  text-transform: uppercase;
  padding: 0 3vw;

  animation: h1 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.resource-subhead2 {
  /* all: unset; */

  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #532d53;
  text-transform: uppercase;
  padding: 0 3vw;

  animation: h1 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.resources-text {
  font-family: "Corbert", sans-serif;
  text-align: center;
  padding: 0 16vw;
  color: #532d53;
  font-weight: bold;

  animation: sponsor-text 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.15s both;
}
